<!-- Interpolation
<app-interpolation> </app-interpolation>
    
Property Binding
<img [src]="imageUrl" [alt]="imageAlt">

Event Binding
<app-event-binding> </app-event-binding>

Two-Way Binding
<input [(ngModel)]="name" placeholder="Enter your name">
<p>Your name is: {{ name }}</p>
<app-two-way-binding> </app-two-way-binding> -->

<ul>
  <li><button><a routerLink="/interpolation"> Interpolation </a></button></li><br>
  <li><button><a routerLink="/eventbinding"> Event Binding </a></button></li><br>
  <li><button><a routerLink="/propertybinding"> Property Binding </a> </button></li><br>
  <li><button><a routerLink="/twowaybinding"> Two-Way Binding </a> </button></li>
</ul>

<router-outlet> </router-outlet>